body {
    background-color: #edf7fc;
    background-size: cover;
    font-family: 'impact', sans-serif;
}

table {
    width: 80%;
    border-spacing: 0px; 
    border-collapse: collapse;
    background-color: #edf7fc;
}

td {
    background-color: #dfdfdf; 
    text-align: right;
    vertical-align: top;
    width: 100px;
    height: 70px;
    font-size: 1em;
    color: #5c5c5c;
    border: solid #edf7fc;    
    position: relative; 
}

th {
    background-color: #5c5c5c;
    color: #dfdfdf;
    font-size: 1.8em;
}

td.none {
    border: solid #edf7fc;
    background-color: #edf7fc;
}

.calendar-header img {
    width: 80%;
    height: auto;
    margin-bottom: -5px;
}

.weekend {
    background-color: #5c5c5c;
    color: #dfdfdf;
}

.extra-text {
    position: absolute;
    bottom: 27px; 
    left: 14px;
    font-size: 0.8em;
}
